body {
    margin: 0;
    font-family: "Figtree", sans-serif;
    background-color: #f4f4f4;
}

.accordion-item {
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    min-width: 800px;
    min-height: 50px;
    border: 1px solid #ddd;
}

@media (max-width: 800px) {
    .accordion-item {
        min-width: 300px;
        max-width: 300px;
    }
}

.accordion-button {
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-body {
    border-radius: 0 0 10px 10px;
}

.accordion-button:focus {
    box-shadow: none;
    max-height: 50px;
}
